/* Taken from http://thecodeplayer.com/walkthrough/custom-animated-checkbox-inputs-using-css-iconfonts - thank you very much for this */

/*We will import 2 fonts*/
/*fontawesome iconfont*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/*Montserrat for the text*/
@import url(http://fonts.googleapis.com/css?family=Montserrat); 

 .checkcell {

}

a.checkbox {
    color:#333;
}

a.checkbox:hover, a.checkbox:focus, a.checkbox:visited {
    text-decoration: none;
}

a.checkbox-unvisited {
    color: darkgray;
}

a.checkbox-color-ok {
    color: green;
}

a.checkbox-color-not-ok {
    color: red;
}

a.checkbox-color-not-checked {
    color: gray;
}

span.checkmark {
    font-size: 14pt;
    font-family: FontAwesome;
    vertical-align: middle;
}
