/* OK / Green: */
label.checkbox-ok:before {color: #9C9C9C;}
label.checkbox-ok:after {color: #4E8F56;}

/* Not checked / Red: */
label.checkbox-not-ok:before {color: #9C9C9C;}
label.checkbox-not-ok:after {color: #DE4D49;}

/* Does not apply / Gray: */
label.checkbox-not-checked:before, label.checkbox-not-checked:after {color: #9C9C9C;}

.panel-heading {
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    font-size: large;
}
