<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website that helps you estimate software development tasks more accurately">
    <meta name="author" content="Daniel Albuschat">
    <title>Guess What - Clever estimates in Software Development</title>
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- Google Font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/guess-what.css" rel="stylesheet">
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body id="body" data-spy="scroll" data-target=".navbar-custom">    
    @RenderBody()

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jqBootstrapValidation/jqBootstrapValidation.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
