@model Io.GuessWhat.MainApp.Models.ChecklistItem

<tr class="marker-checkcell" id="check_@Model.Id">
    <td class="checkcell text-center">
        <input type="checkbox" id="check_ok_@Model.Id" class="marker-ok"/>
        <label for="check_ok_@Model.Id" class="checkbox-ok"></label>
    </td>
    <td class="checkcell text-center">
        <input type="checkbox" id="check_not_ok_@Model.Id" class="marker-not-ok"/>
        <label for="check_not_ok_@Model.Id" class="checkbox-not-ok"></label>
    </td>
    <td class="checkcell text-center">
        <input type="checkbox" id="check_not_checked_@Model.Id" class="marker-not-checked"/>
        <label for="check_not_checked_@Model.Id" class="checkbox-not-checked"></label>
    </td>
    <td>
        <span>@Model.Title</span>
    </td>
</tr>
