@model Io.GuessWhat.MainApp.ViewModels.ChecklistResultViewModel

<div class="panel-body">
    <table class="table" style="color: darkgray">
        <tbody>
            @foreach (var item in Model.Items)
            {
                await Html.RenderPartialAsync("_PageResultChecklistRow", item);
            }
        </tbody>
    </table>
    <div style="margin-top:15px"></div>
    <a class="btn btn-warning" href="/c/@Model.Model.Template.Id">Fill out this checklist again</a>
</div>
