@model Io.GuessWhat.MainApp.Models.ChecklistResultItem

<tr>
    <td class="text-right">
        @switch(Model.Result)
            {
                case Io.GuessWhat.MainApp.Models.ChecklistResult.CheckedAndOk:
                    <span style="color:green;">OK</span>
                break;
            case Io.GuessWhat.MainApp.Models.ChecklistResult.CheckedAndNotOk:
                <span style="color:red;">Not OK</span>
                break;
            case Io.GuessWhat.MainApp.Models.ChecklistResult.NotChecked:
                <span style="color:darkgray;">(not checked)</span>
                break;
        }
    </td>
    <td>
        <span>@Model.TemplateItem.Title</span>
    </td>
</tr>
