<!-- How it works -->
<div class="howItWorksSection" id="how-page">
    <div class="container">
        <div class="row" style="margin-bottom:100px;">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <h1>How to use checklists?</h1>
                <p>
                There are three use cases for agile software-development teams:
                </p>
                <p>
                Reviewing <b>Specifications</b>, <b>Code Review</b> and documenting "grunt" <b>Test Results</b>.
                </p>
                <h3>Testing specs</h3>
                <p>
                Every spec has a few feats in common that can be put into a checklist.
                The "all passed" QA badge can be included as a "this spec is ready" sign at
                the end of the document. This could actually be your team's "Definition of Ready"
                or some similar quality characteristics.
                </p>
                <h3>Code Review</h3>
                <p>
                Every team has a code style guide. But also every team has a few important
                do's and dont's specific to some situations that can be put into a hierarchical 
                checklist. You can establish a guideline that every commit should include a 
                link to the checklist results at the end of the commit message.
                </p>
                <h3>Posting test results</h3>
                <p>
                Every feature has to conform to some standard  quality aspects. Such as <i>"works with foreign 
                characters such as Japanese and Russian"</i>, <i>"System handles browser refresh inside of each 
                transaction step gracefully"</i>, etc. The test results can be documented by a link to the 
                checklist results, accompanied with a description (or better, an in-person chat) if anything 
                went wrong.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- How it works -->