@model Io.GuessWhat.MainApp.ViewModels.ChecklistResultViewModel

<!-- Created with Inkscape (http://www.inkscape.org/) -->
<svg xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="250"
     height="107.5235894820484"
     viewBox="0 0 1816.6464 781.3294"
     id="svg2"
     version="1.1"
     inkscape:version="0.91 r13725"
     sodipodi:docname="qa-badge.svg"
     inkscape:export-filename="c:\temp\qa-badge.png"
     inkscape:export-xdpi="12.440335"
     inkscape:export-ydpi="12.440335">
    <title id="title4212">QA Badge for Checklist Results</title>
    <defs id="defs4" />
    <sodipodi:namedview id="base"
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1.0"
                        inkscape:pageopacity="0.0"
                        inkscape:pageshadow="2"
                        inkscape:zoom="0.35"
                        inkscape:cx="1544.8475"
                        inkscape:cy="557.33033"
                        inkscape:document-units="px"
                        inkscape:current-layer="layer1"
                        showgrid="false"
                        width="400mm"
                        fit-margin-top="0"
                        fit-margin-left="0"
                        fit-margin-right="0"
                        fit-margin-bottom="0"
                        inkscape:window-width="1280"
                        inkscape:window-height="790"
                        inkscape:window-x="-8"
                        inkscape:window-y="-8"
                        inkscape:window-maximized="1"
                        units="px" />
    <metadata id="metadata7">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title>QA Badge for Checklist Results</dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g inkscape:label="Ebene 1"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(-5.4220562,-307.16553)">
        <rect style="fill:none;fill-opacity:1;stroke:#858585;stroke-width:20.06500053;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:80.26000214, 40.13000107;stroke-dashoffset:0;stroke-opacity:1"
              id="rect4214"
              width="1796.5815"
              height="761.2644"
              x="15.454556"
              y="317.19803" />
        <circle style="fill:none;fill-opacity:1;stroke:#525252;stroke-width:36;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                id="path4136"
                cx="356.34808"
                cy="658.09161"
                r="269.21042" />
        <text xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:281.52484131px;line-height:125%;font-family:Century;-inkscape-font-specification:Century;letter-spacing:0px;word-spacing:0px;fill:#525252;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              x="138.64885"
              y="771.10846"
              id="text4138"
              sodipodi:linespacing="125%"
              transform="scale(1.0219543,0.97851733)"><tspan sodipodi:role="line"
                                                             x="138.64885"
                                                             y="771.10846"
                                                             id="tspan4142"
                                                             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Microsoft Sans Serif';-inkscape-font-specification:'Microsoft Sans Serif';fill:#525252;fill-opacity:1">QA</tspan></text>
        <text xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:145.37332153px;line-height:125%;font-family:'Microsoft Sans Serif';-inkscape-font-specification:'Microsoft Sans Serif';letter-spacing:0px;word-spacing:0px;fill:#1cbb1e;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              x="810.37244"
              y="531.2757"
              id="text4146"
              sodipodi:linespacing="125%"><tspan sodipodi:role="line"
                                                 id="tspan4148"
                                                 x="810.37244"
                                                 y="531.2757">@Model.CheckedAndOkTotalCount Passed</tspan></text>
        <text xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:145.37332153px;line-height:125%;font-family:'Microsoft Sans Serif';-inkscape-font-specification:'Microsoft Sans Serif';letter-spacing:0px;word-spacing:0px;fill:#d32727;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              x="820.38104"
              y="712.70105"
              id="text4146-4"
              sodipodi:linespacing="125%"><tspan sodipodi:role="line"
                                                 id="tspan4148-5"
                                                 x="820.38104"
                                                 y="712.70105">@Model.CheckedAndNotOkTotalCount Not Passed</tspan></text>
        <text xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:145.37332153px;line-height:125%;font-family:'Microsoft Sans Serif';-inkscape-font-specification:'Microsoft Sans Serif';letter-spacing:0px;word-spacing:0px;fill:#727272;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              x="810.37244"
              y="894.1264"
              id="text4146-4-1"
              sodipodi:linespacing="125%"><tspan sodipodi:role="line"
                                                 id="tspan4148-5-6"
                                                 x="810.37244"
                                                 y="894.1264">@Model.NotCheckedTotalCount Not Checked</tspan></text>
        <text xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:70.98975372px;line-height:125%;font-family:'Microsoft Sans Serif';-inkscape-font-specification:'Microsoft Sans Serif';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              x="89.061951"
              y="1019.247"
              id="text4186"
              sodipodi:linespacing="125%"><tspan sodipodi:role="line"
                                                 id="tspan4188"
                                                 x="89.061951"
                                                 y="1019.247">by guess-what.io</tspan></text>
        <text xml:space="preserve"
              style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              x="484.87323"
              y="1294.7988"
              id="text4190"
              sodipodi:linespacing="125%"><tspan sodipodi:role="line"
                                                 id="tspan4192"
                                                 x="484.87323"
                                                 y="1294.7988" /></text>
        <text xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:76.60587311px;line-height:125%;font-family:'Microsoft Sans Serif';-inkscape-font-specification:'Microsoft Sans Serif';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              x="842.53064"
              y="1028.7096"
              id="text4186-1"
              sodipodi:linespacing="125%"><tspan sodipodi:role="line"
                                                 id="tspan4188-5"
                                                 x="842.53064"
                                                 y="1028.7096">checked 2016/01/31 20:02</tspan></text>
    </g>
</svg>
