@model Io.GuessWhat.MainApp.Models.ChecklistModel

@{
    await Html.RenderPartialAsync("_Navigation");
    await Html.RenderPartialAsync("_PageFillOut");
    await Html.RenderPartialAsync("_Disqus", new Io.GuessWhat.MainApp.ViewModels.DisqusViewModel("c/" + @Model.Id, "c/" + @Model.Id));
}

@section css {
<link href="~/css/animated-checkbox.css" rel="stylesheet">
<link href="~/css/check-style.css" rel="stylesheet">
}

@section js {
    <script src="~/js/checklist-fillout.js"></script>
}

@section title {
    <title>"@Model.Title" - Checklist on Guess What.io?</title>
}
