@model Io.GuessWhat.MainApp.ViewModels.ChecklistResultViewModel

@{
    await Html.RenderPartialAsync("_Navigation");
    await Html.RenderPartialAsync("_PageResultSummary");
    await Html.RenderPartialAsync("_PageResultDetails");
    await Html.RenderPartialAsync("_Disqus", new Io.GuessWhat.MainApp.ViewModels.DisqusViewModel($"c/result/{Model.Model.Id}", $"c/result/{Model.Model.Id}"));
}

@section css {
    <link href="~/css/check-style.css" rel="stylesheet">
}

@section title {
    <title>"@Model.Model.Template.Title" - Results from @Model.Model.CreationTime on Guess What.io?</title>
}
