@model System.String

<tr>
    <td class="text-center">
        <input type="checkbox" />
    </td>
    <td class="text-center">
        <input type="checkbox" />
    </td>
    <td class="text-center">
        <input type="checkbox" />
    </td>
    <td>
        <span>@Model</span>
    </td>
</tr>
