@model Io.GuessWhat.MainApp.Models.HomeModel

<!-- Checklist Preconditions -->
<div id="page-preconditions" class="fullSection checklistfull section-preconditions">
    <div class="container">

        <div class="section-heading">
            <h2>How well do you know the task?</h2>
        </div>

        <div class="row checklist1">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="icon-box text-center">
                    @foreach (var item in ViewData.Model.PreconditionItems)
                    {
                        @Html.Partial("PreconditionsAspectItemControl", item)
                    }
                </div>
            </div>
        </div>
    </div>
    <button id="btn-checklist1" class="btn btn-success btn-lg col-md-2 col-md-offset-5">Next questions</button>
</div>
<!-- ./Checklist Preconditions -->
