@model guess_what2.Models.HomeModel

<!-- Checklist Complexity -->
<div id="page-complexity" class="fullSection checklistfull section-complexity">
    <div class="container">

        <div class="section-heading">
            <h2>Likelyhood that these aspects will cause trouble?</h2>
        </div>

        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="icon-box text-center">
                    @foreach (var item in ViewData.Model.ComplexityItems )
                    {
                        @Html.Partial("ComplexityAspectItemControl", item)
                    }
                </div>
            </div>
        </div>
    </div>
    <button id="btn-finish" class="btn btn-success btn-lg col-md-2 col-md-offset-5">Finished</button>
</div>
<!-- ./Checklist Complexity -->
