@model Io.GuessWhat.MainApp.Models.HomeModel

@{
    string estimate = string.Empty;
    if (ViewData.Model.Estimate.HasValue)
    {
        estimate = ViewData.Model.Estimate.Value.ToString();
    }
}

<!-- Landing page -->
<div id="page-estimate" class="fullSection startSection">
    <div class="container-fluid">

        <div class="top-heading text-center">
            <h2 style="margin-bottom:3%">Hello,</h2>
            <p>You are about to estimate a task?</p>
            <p>Go ahead and make a guess.</p>
        </div>

        <!-- quick-form -->
        <div class="row paddt-60">
            <div class="col-md-6 col-md-offset-3">
                <div class="quick-form">

                    <form name="estimationForm">

                        <div class="input-group">
                            <input type="number"
                                    class="form-control"
                                    id="estimate"
                                    placeholder="Enter your estimation here"
                                    required
                                    autofocus
                                    data-validation-required-message="Please enter an estimate."
                                    value="@estimate"
                                    >
                            <span class="input-group-addon" id="basic-addon2">Story Points, Days, Hours, etc.</span>
                        </div>

                        <div class="control-group form-group">

                            <button type="submit" id="input" class="btn btn-primary btn-block btn-lg ">That's my best guess</button>

                        </div>
                        <div id="success_newsletter"></div>

                    </form>

                </div>
            </div>
        </div>
        <!-- ./quick-form -->

    </div>
</div>
<!-- ./Landing Page -->
