@{ 
    await Html.RenderPartialAsync("_Navigation");
    await Html.RenderPartialAsync("_PageEnterEstimate");
    await Html.RenderPartialAsync("_PagePreconditions");
    await Html.RenderPartialAsync("_PageComplexity");
    await Html.RenderPartialAsync("_PageResult");
    await Html.RenderPartialAsync("_PageHowItWorks");
}

@section css {
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/guess-what.css" rel="stylesheet">
<link href="~/css/difficulty-buttons.css" rel="stylesheet">
}

@section js {
<script src="~/js/estimate-main.js"></script>
}

@section title {
<title>Guess What - Clever estimates in Software Development</title>
}
