<!-- Landing page -->
<div id="slider" class="fullSection startSection">
    <div class="container-fluid">

        <div class="top-heading text-center">
            <h2 style="margin-bottom:3%">Hello,</h2>
            <p>You are about to estimate a task?</p>
            <p>Go ahead and make a guess.</p>
        </div>

        <!-- quick-form -->
        <div class="row paddt-60">
            <div class="col-md-6 col-md-offset-3">
                <div class="quick-form">

                    <form name="estimationForm">

                        <div class="control-group form-group">
                            <div class="controls">
                                <div>
                                    <input type="number" class="form-control" id="estimate" placeholder="Estimate in story points, hours, man days or weeks" required autofocus="true" data-validation-required-message="Please enter an estimate.">
                                </div>
                            </div>
                        </div>

                        <div class="control-group form-group">

                            <button type="submit" id="input" class="btn btn-primary btn-block btn-lg ">That's my best guess</button>

                        </div>
                        <div id="success_newsletter"></div>

                    </form>

                </div>
            </div>
        </div>
        <!-- ./quick-form -->

    </div>
</div>
<!-- ./Landing Page -->
