<!-- How it works -->
<div class="fullSection howItWorksSection" id="how-page">
    <div class="container">

        <div class="row">
            <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-2">
                <h1>How it works</h1>
                <p>
                    You have arrived at <a href="http://guess-what.io">guess-what.io</a>. This small tool will help you prepare an estimate that can stand against aggravating circumstances and managers debating
                    about "Why does it take so long?". guess-what.io helps you to better understand the required work to accomplish a task, and think about where <b>difficulties</b> or <b>unforeseen work</b> might emerge.
                </p>
                <h3>Make your initial estimate</h3>
                <p>
                    guess-what.io is best used by a team and not an individual. Read the description of your task, your user stories, or whatever and have a short brainstorm about how the solution might look like.
                    After you have an agreement on what should be done, enter your first, rough estimate. Then click <b>"That's my best guess"</b> and continue.
                </p>
                <h3>Assess preconditions and potential obstacles</h3>
                <p>
                    On the second page, there are a few <b>preconditions</b> that many development tasks have. Talk with your team about how good these preconditions are met. Often, some thinks will come up at this
                    point that are just not ready yet.
                </p>
                <p>
                    The last step will assess the expected <b>complexity</b> of the work that has to be done and it's environment. For example, if the part of the code base is heavily unit tested, documented,
                    frequently used and there are no known bugs or limitations in it, chances are high that the task will work out as planned. But if the code base hasn't been touched in years, the coder that
                    has written it is not in the company anymore and the product has to maintain downward compatibility with a state that is not even documented, prepare to spend some extra hours on it.
                </p>
                <h3>Receive a better estimate...</h3>
                <p>
                    These easily evaluated aspects are often key to meet an estimate. So there is value in looking at these aspects one by one, discuss them with your team members and come up with an rating of
                    the risk accompanied by it. But more so, guess-what.io will automatically calculated an <b>uncertainty factor</b> from it and applies it to the original estimate. This way, often a better estimate
                    is created.
                </p>
                <h3>... and maybe higher quality</h3>
                <p>
                    Additionally, you will have come up with concrete obstacles that you see as a risk, and maybe even with things that you might have not considered without the guidance of these small questions.
                    So maybe not only the <b>estimate</b> will be more realistic, but the result's <b>quality</b> might increase as well.
                </p>
            </div>

        </div>
        <!-- /row -->

    </div>
</div>
<!-- How it works -->