<!-- Checklist Preconditions -->
<div id="checklist-preconditions" class="fullSection checklistfull section-preconditions">
    <div class="container">

        <div class="section-heading">
            <h2>How well do you know the task?</h2>
        </div>

        <div class="row checklist1">
            <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                <div class="icon-box text-center wow fadeInLeft">
                    <div class="row checklist">
                        <label>
                            Requirements or User Story are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_requirements">
                            <label class="btn btn-default checklist1 active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success checklist1"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist1 checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning checklist1"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger checklist1"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                    <div class="row checklist">
                        <label>
                            Steps to Reproduce are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_steps_to_reproduce">
                            <label class="btn btn-default checklist1 active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success checklist1"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist1 checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning checklist1"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger checklist1"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                    <div class="row checklist">
                        <label>
                            Required Data Sets are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_data_sets">
                            <label class="btn btn-default active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                    <div class="row checklist">
                        <label>
                            Required Devices are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_devices">
                            <label class="btn btn-default active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                    <div class="row checklist">
                        <label>
                            Required Third Party Contacts are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_third_party">
                            <label class="btn btn-default active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                    <div class="row checklist">
                        <label>
                            Technical Knowledge and Skills are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_tech_skills">
                            <label class="btn btn-default active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                    <div class="row checklist">
                        <label>
                            Domain Knowledge and Skills are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_domain_knowledge">
                            <label class="btn btn-default active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                    <div class="row checklist">
                        <label>
                            Test Cases are
                        </label>
                        <div class="btn-group group1" data-toggle="buttons" id="preconditions_test_cases">
                            <label class="btn btn-default active"> <input type="radio" name="options" id="NA" autocomplete="off" checked>N/A</input> </label>
                            <label class="btn btn-success"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Superb</input> </label>
                            <label class="btn btn-primary checklist"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Good</input> </label>
                            <label class="btn btn-warning"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Not Good</input> </label>
                            <label class="btn btn-danger"> <input type="radio" name="options" id="NA" autocomplete="off" checked>Bad</input> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="btn-checklist1" class="btn btn-success btn-lg col-md-2 col-md-offset-5">Next questions</button>
</div>
<!-- ./Checklist Preconditions -->
