@model Io.GuessWhat.MainApp.Models.CheckboxControlViewModel
<a class="checkbox checkbox-unchecked @Model.Class" href="#" id="@Model.Id">
    <span class="checkmark">&#9744;</span>
    <span style="vertical-align:middle;">@Model.Label</span>
</a>
