@model  Io.GuessWhat.MainApp.ViewModels.DisqusViewModel

<div id="disqus_thread" style="width:90%;margin-left:auto;margin-right:auto;"></div>
<script>
var disqus_config = function ()
{
    this.page.url = "http://www.guess-what.io/@Model.Url";
    this.page.identifier = "@Model.Id";
};

(function () {
var d = document, s = d.createElement('script');

s.src = '//guess-what.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
