@{ 
    Layout = null;

    string notOkFill = Model.CheckedAndNotOkTotalCount > 0 ? "fill:red;" : string.Empty;
    string okFill = Model.CheckedAndNotOkTotalCount <= 0 && Model.CheckedAndOkTotalCount > 0 ? "fill:green;" : string.Empty;
    string badgeColor;
    if (Model.CheckedAndNotOkTotalCount > 0)
    {
        badgeColor = "#D85C5C";
    }
    else if (Model.CheckedAndOkTotalCount > 0)
    {
        badgeColor = "green";
    }
    else
    {
        badgeColor = "#525252";
    }
}
@model Io.GuessWhat.MainApp.ViewModels.ChecklistResultViewModel

<svg xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     width="300"
     height="132"
     viewBox="0 0 500 220"
     id="guess-what-io-badge-template"
     version="1.1"
     style="font-family:'Microsoft Sans Serif';background:white;"
     >
    <title>QA Badge for Checklist Results</title>
    <rect style="fill:none;stroke:#858585;stroke-width:3;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:20, 12;"
            x="1.5"
            y="1.5"
            width="497"
            height="217"
            />
    <circle style="fill:none;stroke:@(badgeColor);stroke-width:10"
            cx="100"
            cy="100"
            r="85" />
    <text style="font-size:74pt;fill:@(badgeColor);"
            x="25"
            y="135"
          >
        QA
    </text>
    <text style="font-size:14pt"
          x="30"
          y="206">
        by guess-what.io
    </text>

    <text style="font-size:28pt;@(okFill);text-anchor:end;"
          x="250"
          y="65">
        @Model.CheckedAndOkTotalCount
    </text>
    <text style="font-size:28pt;@(okFill)text-anchor:start;"
          x="260"
          y="65">
        Passed
    </text>

    <text style="font-size:28pt;@(notOkFill)text-anchor:end;"
          x="250"
          y="121">
        @Model.CheckedAndNotOkTotalCount
    </text>
    <text style="font-size:28pt;@(notOkFill)text-anchor:start;"
          x="260"
          y="121">
        Didn't pass
    </text>

    <text style="font-size:28pt;fill:#525252;text-anchor:end;"
          x="250"
          y="175">
        @Model.NotCheckedTotalCount
    </text>
    <text style="font-size:28pt;fill:#525252;text-anchor:start;"
          x="260"
          y="175">
        Not checked
    </text>

    <text style="font-size:14pt;"
          x="230"
          y="206">
        created @Model.Model.CreationTime.ToString("g")
    </text>
</svg>
